@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.signup-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-image: url("../../assets/images/signup.png");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

/* Lado direito */
.left-side {
  width: 40%; 
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee4db;
  padding: 40px;
}

.left-side h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #b5053a;
  font-weight: 300;
}

/* Formulário */
.form-container-register {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-group {
  background-color: #d9d0c5;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.sign-group img {
  width: 20px;
}

.sign-group input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  color: black;
  font-size: 1rem;
  padding-left: 10px;
}

.sign-group input::placeholder {
  color:black;
}

/* Botão */
.enter {
  background-color: #b5053a;
  color: #faefe0;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.eye{
  color: black;
}

.enter:hover:enabled {
 background-color: #c0b5a7;
}

.enter:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Link de cadastro */
.signup {
  margin-top: 15px;
  font-size: 0.9rem;
  color: black;
}

.signup a {
  color: black;
  text-decoration: underline;
}

@media (max-width: 480px){
  .signup-container{
    background-image: none;
    background-color: #eee4db;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}