/* src/components/CardDoacao/CardDoacao.css */

.card-doacao {
  width: 450px;
  height: 610px;
  background-color: white;
  border: 2.5px solid #7e0026;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-doacao:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-imagem {
  width: 90%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid #b5053a;
}

.card-titulo {
  font-size: 22px;
  font-weight: 600;
  color: #b5053a;
  margin-top: 10px;
  text-align: center;
}

.card-descricao {
  font-size: 18px;
  color: #000000;
  text-align: center;
  margin: 10px 0;
}
