 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.frequentQuestions {
  height: 100vh;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  display: flex;
  justify-content: space-between; 
  /* align-items: flex-start;  */
  gap: 5rem; /* espaço entre as colunas */
  background-color: #fffbf5;
}

.partOne,
.partTwo {
  flex: 1; /* cada um ocupa metade */
  text-align: justify;
  margin: 50px;
}

.titleQuestions,
.makeQuestion{
  font-size: 30px;
  text-align: justify;
}

.principalQuestions{
  font-size: 25px;
}

.answers{
  font-size: 20px;
}
