/* NotFound.css */
/* .notfound-container {
  text-align: center;
  margin-top: 80px;
}

.notfound-container img {
  max-width: 400px;
}

.notfound-container a {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
} */

.notfound-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-404 {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 20px;
  background-color: #f2ebd0;
  color: #b71f3f;
  border: 3px solid #b71f3f;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.btn-404::before {
  content: "←";
  font-size: 18px;
  font-weight: 900;
}

.btn-404:hover {
  background-color: #b71f3f;
  color: #f2ebd0;
}
