@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.aboutUs {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: #fffb;
}

.imageAbout {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.aboutText {
  flex-direction: column;
  color: #fffbf5;
  font-size: large;
  justify-content: end;
  margin-bottom: 50px;
}

.titleAbout {
  color: #fffbf5;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 300;
}

@media (max-width: 480px) {
  .imageAbout {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .titleAbout {
    font-size: 26px;
    top: 4%;
    text-align: center;
    width: 100%;
  }

  .aboutText {
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
    color: black;
  }

  .content {
    justify-content: flex-end;
  }
}
