@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.receiver-container {
  width: 100%;
  background-color: #a4002a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #e5d9cd;
}

.fundo {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
}

.fundo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mensagem {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 60px;
  font-weight: 300;
}

.receiverInformation {
  text-align: center;
  margin-top: 1.5rem;
  overflow: hidden;
}

.receiverText {
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 300;
}

.differentWord {
  color: #b5053a;
  background-color: #e5d9cd;
}

.categoria {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 2rem;
}

.categoria div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2.5px solid #e5d9cd;
}

.categoria div:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.categoria-title {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
}
.arrow-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.arrow-button::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  transition: border-color 0.3s ease;
}

.arrow-button:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .receiver-container {
    display: flex;
  }
  .categoria {
    justify-content: start;

    flex-direction: column;
  }
}
