.materialSection {
  width: 100%;
  background-color: #b5053a;
  padding: 0;
}

.materialCategoria {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 2rem;
}

.materialCategoria div {
  width: 450px;
  height: 610px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2.5px solid #7e0026;
  background-color: white;
}

.materialTitle {
  font-size: 50px;
  color: #e5d9cd;
  font-weight: 300;
  display: flex;
  align-self: flex-start;
  margin-left: 50px;
}

.mochila,
.livro,
.cadernos {
  color: #000000;
  margin: 5px;
}

.bag,
.notebook,
.book {
  display: flex;
  flex-direction: column;
}
.caderno {
  width: 250px;
  height: 240px;
}

.buttonPronto {
  display: flex;
  justify-content: center;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 11px 20px;
  color: #b5053a;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #b5053a;
  width: 300px;
  height: 60px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-add:hover {
  background-color: #a71f40;
  color: #fffbf5;
}
.materialSection {
  padding: 20px;
}

.materialHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-icon {
  width: 35px;
  height: 35px;
  margin-right: 35px;
}

.arrow-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.arrow-button::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 2px solid white; 
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  transition: border-color 0.3s ease;
}

.arrow-button:hover {
  transform: scale(1.1);
}

